.fieldset {
    display: flex;
    justify-content: space-between;
    /* color: red; */
}
.fieldset_vertical {
    flex-direction: column;
    /* color: blue; */
}

.fieldset_start {
    justify-content: flex-start;
}
.fieldset_border {
    border-bottom: 2px black dotted;
}
.fieldset_modal {
    background-color: rgb(185, 185, 185);
}
.sektion__header {
    display: flex;
    justify-content: space-between;
}
.button_mini {
    text-decoration: none;
    /* background-color: lightcoral; */
    border-radius: 3px;
    padding: 4px;
    margin: 10px;
}
.button {
    width: 30px;
    height: 30px;
}
.inputNewOptions{
    width: 200px;
}
.inputNewOptions_mini {
    width: 70px;
}
.modal__Container {
    position: fixed;
    pointer-events: none; 
    opacity: 0;
    left: 0;
    top: 0; 
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh; 
    padding: 30px;
    background-color: rgba(0, 0, 0, 0.5);
  }
  .modal__Container_isOpen {
    pointer-events: all; 
    opacity: 1;
  }
  table {
    table-layout: fixed;
    width: 100%;
    border-collapse: collapse;

  }
  
  thead th:nth-child(1) {
    width: 30%;
  }
  
  thead th:nth-child(2) {
    width: 20%;
  }
  
  thead th:nth-child(3) {
    width: 15%;
  }
  
  thead th:nth-child(4) {
    width: 55%;
  }
  
  th, td {
    text-align: start;
    padding: 20px;
    border-bottom: 2px solid black;
  }